
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"[routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"[routerLink]="['/grafico']">Grafico</a>
    </li>
  </ul>
</nav>
<p>La denutrizione è un Deperimento provocato dall'insufficienza di alimentazione che
si verifica quando una persona non è in grado di acquisire cibo sufficiente per soddisfare il fabbisogno energetico dietetico minimo giornaliero per un anno.
È una condizione grave che può portare a arresto della crescita, altri effetti a lungo termine sulla salute e una diminuzione del livello di istruzione ed è stata correlata con un’importante incremento del rischio di mortalità e di morbilità.
Può essere definita come una malattia nella malattia perchè, se presente, riduce la capacità della persona di guarire dalla malattia di base.
La denutrizione è causata da una carenza di nutrienti nella dieta. Questa carenza può derivare da fattori sociali quali solitudine, povertà o dipendenza da alcol o droghe; da fattori fisici quali anzianità, disabilità, edentulia o alterazioni del gusto e dell’olfatto; da condizioni mediche che possono causare una perdita di appetito, da disturbi del comportamento alimentare; da farmaci.
Il fabbisogno calorico è la quantità di calorie di cui il corpo ha bisogno per svolgere in maniera regolare tutte le sue funzioni. Il fabbisogno giornaliero di una persona in media si aggira intorno alle 2.100 calorie. Questo fabbisogno può aumentare o diminuire in base a fattori come età, sesso, peso corporeo. Oltretutto, non è solo questione di quantità ma anche di qualità: Si parla di denutrizione anche quando nell’alimentazione di una persona manca il giusto apporto di carboidrati, proteine, grassi, vitamine e minerali.
</p>
